/* Fonts */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto400.woff2") format("woff2"),
    url("../fonts/roboto/roboto400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto500.woff") format("woff2"),
    url("../fonts/roboto/roboto500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins400.woff2") format("woff2"),
    url("../fonts/poppins/poppins400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins500.woff2") format("woff2"),
    url("../fonts/poppins/poppins500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins700.woff2") format("woff2"),
    url("../fonts/poppins/poppins700.woff") format("woff");
  font-display: swap;
}

/* Global */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Varibles */
:root {
  --roboto: "Roboto", "Arial", sans-serif;
  --poppins: "Poppins", "Arial", sans-serif;
  --color-bolt: #2d2d2d;
  --color-link: #4a4a4a;
  --color-link-another: #fd905a;
  --сolor-peach: #f9a779;
  --color-input: #a2a2a2;
  --color-text: #7c7c7c;
  --color-text-user: #707070;
  --color-light: #ffffff;
  --color-another: #ff8345;
  --btn-color: #48b774;
  --backgroud-color: #ecf7f3;
}

/* Page */
.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--poppins);
  background-color: var(--backgroud-color);
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (min-width: 1440px) {
    width: 1440px;
    padding: 0 141px 0 149px;
    margin: 0 auto;
  }
}

.page__main {
  flex-grow: 1;

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 87px;
  }
}

/* Button */
.button {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color-light);
  background-color: var(--btn-color);
  padding: 9px 23px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    color: #2d2d2d;
    background-color: #f9a779;
  }
}

/* Main-header */
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
  }
}

.main-header__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  text-decoration: none;
  color: var(--color-bolt);
  padding-left: 45px;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    color: var(--сolor-peach);
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 5px solid #f9a779;
    border-radius: 50%;
    top: 0;
    left: 0;
  }

  &::after {
    content: "G";
    position: absolute;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #48b774;
    width: 20px;
    height: 33px;
    top: 4px;
    left: 9px;
  }
}

/* Main-nav */
.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 19px;
  padding: 0;
  width: 24px;
  height: 21px;
  background-color: var(--backgroud-color);
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    opacity: 0.5;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #4a4a4a;
  box-shadow: 0 8px 0 0 #4a4a4a, 0 16px 0 0 #4a4a4a;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #4a4a4a;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__button-wrapper {
  padding: 0 20px;

  @media (min-width: 1440px) {
    padding: 0;
    padding-right: 41px;
  }
}

.main-nav__button {
  width: 100%;

  @media (min-width: 1440px) {
    max-width: 108px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 242px;
  }
}

@media (max-width: 1439px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    padding-bottom: 20px;
    width: 100%;
    top: 78px;
    right: 0;
    z-index: 10;
    background-color: var(--backgroud-color);
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav--nojs {
  padding-top: 10px;

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
}

.main-nav--nojs .main-nav__list {
  display: block;
  width: 100%;

  @media (min-width: 1440px) {
    display: flex;
    width: auto;
  }
}

.main-nav--nojs .main-nav__item {
  display: block;
}


/* Site-list  */
.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 1440px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 43px;
    max-width: 362px;
  }
}

.site-list__item {
  border-top: 1px solid #a39a9a;

  @media (min-width: 1440px) {
    border: none;
  }
}

.site-list__item:last-child {
  border-bottom: 1px solid #a39a9a;

  @media (min-width: 1440px) {
    border: none;
  }
}

.site-list__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-link);
  text-decoration: none;
  text-align: center;
  padding: 20px;
  transition: all 0.2s;

  @media (min-width: 1440px) {
    padding: 8px 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    color: var(--сolor-peach);
  }
}

/* Site-list__link--current */
@media (min-width: 1440px) {
  .site-list__link--current::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: #fb9b69;
    bottom: 4px;
    left: 40%;
  }
}

/* Promo */
.promo {
  padding: 20px;

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.promo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: var(--color-bolt);
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: 1440px) {
    font-size: 48px;
    line-height: 65px;
    text-wrap: balance;
    max-width: 474px;
    margin-bottom: 11px;
  }
}

.promo__title br {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}

.promo__title-another {
  color: var(--color-another);
}

.promo__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: var(--color-text);
  margin: 0;
  margin-bottom: 32px;
}

.promo__text br {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}

.promo__button {
  font-size: 15px;
  line-height: 23px;
  padding: 10px 22px;
  margin-bottom: 25px;

  @media (min-width: 1440px) {
    margin-bottom: 50px;
  }
}

.promo__form {
  margin-bottom: 25px;

  @media (min-width: 1440px) {
    margin-bottom: 40px;
  }
}

/* Form */
.form__wrapper {
  position: relative;
}

.form__input {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-input);
  width: 100%;
  padding: 21px 45px 22px 20px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 20px 30px 0 rgba(222, 222, 222, 0.25);
  outline: none;

  @media (min-width: 1440px) {
    width: 597px;
    padding: 21px 65px 22px 40px;
  }

  &:hover {
    box-shadow: 0 0 0 2px #444444 inset;
  }

  &:focus:invalid {
    box-shadow: 0 0 0 2px #ff8282 inset;
  }
}

.form__button {
  position: absolute;
  background-color: var(--btn-color);
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  top: 10px;
  right: 6px;
  cursor: pointer;
  transition: all 0.2s;

  @media (min-width: 1440px) {
    width: 55px;
    height: 55px;
    top: 4px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: var(--сolor-peach);
  }
}

.form__button::before {
  content: "";
  position: absolute;
  background-image: url("../img/search_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  transform: translate(30%, 30%);
}

/* .form__button::before Desctop */
@media (min-width: 1440px) {
  .form__button::before {
    width: 26px;
    height: 26px;
    transform: translate(55%, 55%);
  }
}

/* User */
.user {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 44px;
  }
}

.user__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 1440px) {
    min-width: 102px;
  }
}

/* User__item Z-index */
@media (min-width: 1440px) {
  .user__item {
    position: absolute;
    width: 38px;
    top: 0;
  }

  .user__item--1 {
    z-index: 4;
  }

  .user__item--2 {
    z-index: 3;
    left: 20px;
  }

  .user__item--3 {
    z-index: 2;
    left: 40px;
  }

  .user__item--another {
    z-index: 1;
    left: 60px;
  }
}

.user__item--another {
  position: relative;
  align-self: flex-end;
  width: 38px;
  height: 38px;
  background-color: var(--color-another);
  border: 3px solid #ffffff;
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 13px;
    background-color: var(--color-light);
    border-radius: 16px;
    top: 9px;
    left: 15px;
  }

  &::after {
    rotate: 90deg;
  }
}

.user__wrapper {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text-user);
}

.user__link {
  text-decoration: none;
  color: var(--color-link-another);
  transition: all 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    color: #707070;
  }
}

/* Countries */
@keyframes countries__item--india-1 {
  100% {
    top: 169px;
    left: -12px;
  }
}

@keyframes countries__item--england {
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes countries__item--italy {
  100% {
    top: -22px;
    left: 153px;
  }
}

@keyframes countries__item--india-2 {
  100% {
    top: 82px;
    right: -16px;
  }
}

@keyframes countries__item--india-3 {
  100% {
    top: 245px;
    right: 38px;
  }
}

@keyframes countries__box {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Keyframes-desctop */
@media (min-width: 1440px) {
  @keyframes countries__item--india-1 {
    100% {
      left: -22px;
      top: 246px;
    }
  }

  @keyframes countries__item--england {
    100% {
      left: -13px;
      top: 76px;
    }
  }

  @keyframes countries__item--italy {
    100% {
      left: 212px;
      top: -31px;
    }
  }

  @keyframes countries__item--india-2 {
    100% {
      right: -7px;
      top: 87px;
    }
  }

  @keyframes countries__item--india-3 {
    100% {
      right: -21px;
      top: 246px;
    }
  }
}

.countries {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;

  @media (min-width: 1440px) {
    display: block;
    padding: 0;
    align-self: end;
    min-height: 557px;
  }
}

.countries__box {
  position: relative;
  width: 300px;
  min-height: 300px;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  animation: countries__box;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media (min-width: 1440px) {
    width: 450px;
    min-height: 450px;
    top: -44px;
    left: 75px;
  }
}

.countries__item {
  position: absolute;
  top: 100px;
  z-index: 2;

  @media (min-width: 1440px) {
    top: 197px;
  }
}

.countries__item--india-1 {
  animation: countries__item--india-1;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  left: 100px;
}

.countries__item--england {
  animation: countries__item--england;
  animation-duration: 0.5s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
  left: 100px;
}

.countries__item--italy {
  animation: countries__item--italy;
  animation-duration: 0.5s;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
  left: 100px;
}

.countries__item--india-2 {
  animation: countries__item--india-2;
  animation-duration: 0.5s;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
  right: 100px;
}

.countries__item--india-3 {
  animation: countries__item--india-3;
  animation-duration: 0.5s;
  animation-delay: 4.6s;
  animation-fill-mode: forwards;
  right: 100px;
}

.countries__circle {
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: var(--btn-color);
  border-radius: 50%;
  z-index: 3;

  @media (min-width: 1440px) {
    width: 280px;
    height: 280px;
    top: 74px;
    left: 164px;
  }
}

.countries__image-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 4;
  height: 290px;
  width: 310px;

  @media (min-width: 1440px) {
    left: 51px;
    width: auto;
    height: 557px;
  }
}

.countries__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
